@import '~scss/variables';

body {
  overflow-x: hidden;
}
.main {
  padding-top: $header-height;
  min-width: $content-width;
  background: $lightest;
}

.nav {
  left: -($nav-width + 10px);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-width: $content-width;
  z-index: 200;
}
