@import '~scss/variables';

:global {
  .slider-wrapper {
    & .is-right {
      color: $text-color;
    }
  }
}

.contentWrapper {
  min-height: 500px;
  max-height: calc(100vh - 222px);
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $card-bg-color;
    border-radius: 10px;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $text-color;
    border-radius: 10px;
  }
}

.content {
  width: 920px;
  margin: 0 auto;
  padding: 20px 0 48px 0;
}

.footer {
  padding: 12px 20px;
  background-color: $lightest;
  text-align: right;
}

.confirm {
  width: 920px;
  bottom: 64px;
  left: 50%;
  transform: translateX(-50%);
  background-color: $primary;
}
