@import '~scss/variables';
@import '~scss/mixins';

.wrapper {
  padding: 12px;
  background-color: $lightest;
  border-radius: $border-radius;
}

.mount {
  margin-top: 12px;

  ul > li {
    display: flex;
    background-color: #373a3e;
    padding: 8px;
    border-radius: 8px;

    & > div {
      display: flex;
      color: #969696;
      font-weight: $font-bold;
      min-width: 200px;
      word-break: break-all;

      & > span {
        color: #969696;
      }
    }

    & + li {
      margin-top: 8px;
    }

    :global .icon {
      flex: none;
      margin-right: 8px;
    }
  }
}

.title {
  width: 30%;
}
