@import '../../styles/variables';
@import '../../styles/mixins';

.textarea {
  width: 376px;
  padding: 6px 12px;
  border-radius: $border-radius;
  border: solid 1px #393b3f;
  background-color: #1c1e21;
  box-sizing: border-box;
  @include TypographySymbolText;
  transition: all $trans-speed ease-in-out;
  outline: none;
  caret-color: #808b95;
  color: #808b95;

  &::placeholder {
    font-weight: $font-normal;
    color: #67707a;
  }

  &:not([readonly]):not([disabled]):hover {
    border-color: #2d85c4;
  }

  &:not([readonly]):not([disabled]):focus {
    border-color: #2d85c4;
  }

  &[readonly],
  &[disabled] {
    background-color: #1c1e2133;
  }

  &[readonly] {
    cursor: initial;
  }

  &[disabled] {
    cursor: not-allowed;
  }
}

.textareaAuto {
  height: auto;
  overflow: hidden;
  transition: height 0s;
}
