@import '~scss/variables';

.clickable {
  color: $blue;
  cursor: pointer;
  margin-left: 15px;
}

.card {
  padding: 12px;
  margin-top: 12px;
  border-radius: 8px;
  background-color: $card-bg-color;
  border: solid 1px $light-color03;
}
