@import '../../styles/variables';
@import '../../styles/mixins';

$menu-padder-custom: 3px;
$menu-bg-custom: #2e3136;
$menu-item-color-custom: #a0a0a0;
$menu-item-hover-bg-custom: #3d90ce;
$border-color: #4c5053;
$menu-item-padder-custom: 6px;
$border-radius-custom: 4px;

.menu {
  margin: 0;
  padding: $menu-padder-custom;
  min-width: $menu-min-width;
  border-radius: $border-radius-custom;
  background-color: $menu-bg-custom;
  list-style: none;
  box-sizing: border-box;
  z-index: $menu-z-index;
  border: 1px solid $border-color;

  &-label {
    padding: $menu-item-padder;
  }

  &-item {
    position: relative;
    display: flex;
    align-items: center;
    padding: $menu-item-padder-custom;
    border-radius: $border-radius;
    font-weight: $font-bold;
    color: $menu-item-color-custom;
    line-height: 20px;
    cursor: pointer;

    &:hover {
      background-color: $menu-item-hover-bg-custom;
      color: $white;
    }

    &-selected {
      background-color: $menu-item-selected-bg;
    }

    &:active {
      background-color: $menu-item-active-bg;
    }

    &-disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    & > a {
      flex: 1;
      padding: 0 $base-margin;
      margin: 0 -$base-margin;
      line-height: 32px;
    }
  }

  .icon {
    margin-right: $base-margin;
  }
}
