@import '~scss/variables';

.wrapper {
  margin-bottom: 12px;
  padding: 11px 20px;
  border-radius: 8px;
  border: solid 1px #4c5053;
  background-color: black;

  .title {
    font-weight: $font-bold;
    color: white;
    :global {
      label.checkbox span.label-value {
        font-weight: $font-bold;
        color: #fff;
      }
    }
  }

  .desc {
    color: $second-text-color;
    padding-left: 28px;
  }
}
