@import '~scss/variables';
@import '~scss/mixins';

.avatar {
  display: flex;

  .icon {
    position: relative;
    margin-right: 12px;

    .indicator {
      position: absolute;
      top: 28px;
      right: 0;
    }
  }

  .title {
    @include TypographyTitleH6($dark-color07);
  }

  .desc {
    @include TypographyParagraph($dark-color01);
  }
}
.MenuItemDiv {
  opacity: 0.6;
  font-size: 14px !important;
}
.MenuItem {
  font-size: 14px !important;
}
.MUICurentClass {
  .MuiTableRow-root {
    th {
      background-color: #e0e0e0;
    }
  }
}
