@import '~scss/variables';

.wrapper {
  display: flex;
}

.chart {
  width: 372px;
  color: white;
  tspan {
    fill: white;
  }
  :global {
    .recharts-polar-grid-concentric {
      .recharts-polar-grid-concentric-circle {
        stroke: $text-color;

        &:last-child {
          fill: $lightest;
          opacity: 0.5;
        }
      }
    }
  }
}

.list {
  flex: 1;
}
