@import '../../styles/variables';
@import '../../styles/mixins';

.alert {
  display: flex;
  padding: 12px;
  border-radius: 8px;

  &-icon {
    flex-shrink: 0;
  }

  &-info {
    background-color: #329dce;

    .alert-content {
      color: #ffffff;
    }
  }

  &-error {
    background-color: #ca2621;

    .alert-content {
      color: #ffffff;
    }
  }

  &-warning {
    background-color: #f5a623;

    .alert-content {
      color: #ffffff;
    }
  }

  &-default {
    background-color: #fff;

    .alert-content {
      color: #ffffff;
    }
  }
}

.alert-content {
  @include TypographyParagraph;
}

.alert-title {
  font-weight: 600;
}

.alert-icon {
  margin-right: 12px;
}
