@import '../../styles/variables';
@import '../../styles/mixins';

.tabs-container {
  display: flex;
  flex-direction: column;

  .tabs {
    position: relative;

    & > ul {
      background-color: #212324;

      & > li {
        display: inline-block;
        @include TypographySymbolText;
        padding: 12px;
        min-width: 120px;

        cursor: pointer;
        text-align: center;
        color: #7e8187;

        &:hover,
        &:active,
        &.is-active {
          color: $white;
          border-bottom-style: solid;
          border-color: #2d85c4;
          border-width: 5px;
        }

        &:active,
        &.is-active {
          background-color: #212324;
        }

        &.is-disabled {
          opacity: 0.5;
          color: $text-color;
          cursor: not-allowed;
        }
      }
    }

    &.tabs-button {
      & > ul {
        display: inline-block;

        & > li {
          padding: 4px 12px;
          margin-right: 5px;
          border-radius: 3;
          border: 1px solid #303336;

          &:hover {
            color: $white;
          }

          &:active {
            background-color: #2f3236;
            color: $white;
          }

          &.is-active {
            background-color: #2f3236;
            color: $white;
          }

          &:last-child {
            margin-right: 0px;
          }
        }
      }
    }
  }
}

.tab-content {
  padding: 12px 0;
  color: white;
  .tab-panel {
    display: none;

    &.is-active {
      display: block;
    }
  }
}

.tabs-container-vertical {
  flex-direction: row;

  .tabs {
    min-width: 128px;

    & > ul {
      height: 100%;

      & > li {
        display: block;
        padding: 12px;
        border-bottom-style: none;

        &:hover,
        &:active,
        &.is-active {
          color: $white;
          background-color: #2d85c4;
          border-bottom-style: none;
        }
      }
    }
  }

  .tab-content {
    padding: 0 12px;
  }
}
