@import '~scss/variables';
@import '~scss/mixins';

.wrapper {
  position: relative;
  border-radius: 8px;
  border: 1px solid #4c5053;
  background-color: black;
  cursor: pointer;
  transition: all $trans-speed ease-in-out;

  &:hover,
  &:focus {
    border-color: #2c85c4;
  }

  &.disabled {
    border-color: $border-color !important;
    cursor: default;
  }
}

.options {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: -1px;
  max-height: 258px;
  border-radius: 8px;
  border: 1px solid #393b3f;
  box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.2);
  background-color: #22262a;
  z-index: 5;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $card-bg-color;
    border-radius: 10px;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $text-color;
    border-radius: 10px;
  }
}

.option,
.control {
  display: flex;
  justify-items: flex-start;
  position: relative;
  height: 64px;
  padding: 12px 64px 12px 12px;
  transition: background-color $trans-speed ease-in-out,
    border $trans-speed ease-in-out;
  user-select: none;

  &.withIcon {
    padding-left: 64px;
  }
  &.disabled {
    opacity: 0.25;
  }

  .leftIcon {
    position: absolute;
    @include vertical-center;
    left: 12px;
  }

  .text {
    min-width: 160px;

    &:first-of-type {
      min-width: 200px;
    }

    & > div {
      color: $text-color;
      font-weight: $font-bold;
    }

    & > p {
      color: $second-text-color;
      white-space: nowrap;
      @include ellipsis;
    }
  }

  .rightIcon {
    position: absolute;
    @include vertical-center;
    right: 12px;
  }

  // &.selected {
  //   background-color: $primary;
  //   .text {
  //     & > div {
  //       color: white;
  //     }

  //     & > p {
  //       color: white;
  //     }
  //   }
  // }
}

.option {
  &:hover {
    background-color: $primary;
    .text {
      & > div {
        color: white;
      }

      & > p {
        color: white;
      }
    }
  }
}
