@import '~scss/variables';

.wrapper {
  border-radius: 8px;
  border: none;
  box-shadow: none;
  padding: 5px 11px;

  &:hover {
    background-color: $darkblue-color03;
  }
}

.danger {
  border-color: transparent;

  &:hover {
    background-color: $red-color03;
  }
}
