@import '~scss/variables';

.header {
  position: relative;
  height: $header-height;
  background-color: transparent;
  padding: 0px 35px 0px 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-attachment: fixed;
  &.header_shadow {
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 1),
      0px 1px 1px 0px rgba(42, 42, 42, 1), 0px 2px 1px -1px rgba(20, 20, 20, 1);
  }
  &.inAppsPage {
    background-color: $card-bg-color;
    :global {
      .header-bottom {
        border-style: none;
        border-image: none;
      }
    }
  }
}

:global {
  .header-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5px;
    border-style: solid;
    border-width: 1px 0 0 0;
    border-image-source: radial-gradient(
      circle at 50% 3%,
      rgba(193, 201, 209, 0.53),
      rgba(255, 255, 255, 0.2)
    );
    border-image-slice: 1;
  }

  .header-shadow .header-bottom {
    display: none;
  }
}

.logo {
  //width: 150px;
  height: 37px;
  margin-top: 5px;
  margin-left: 45px;
  .inAppsPage & {
    color: rgba(0, 0, 0, 0.87);
  }
}

.navs {
  display: inline-block;
  padding: 18px 20px;
  button {
    padding: 5px 11px !important;
    color: rgba(0, 0, 0, 0.48);
    & + button {
      margin-left: 12px !important;
      div {
        color: rgba(255, 255, 255, 0.48);
      }
    }
    .inAppsPage & {
      color: rgba(0, 0, 0, 0.48);

      &:hover {
        color: $text-color;
      }
    }
  }
  button:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.right {
  display: flex;
  button {
    color: rgba(0, 0, 0, 0.48);
  }
  button:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.loginInfo {
  margin-left: 18px;
  padding: 5px 5px 5px 10px;
  border-radius: 8px;
  font-size: 14px;
  background-color: transparent;
}
.header_title {
  color: #283593;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 14px;
  background-color: transparent;
  div {
    color: white;
  }
}
.header_title {
  color: #3f51b5;
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;
  margin-left: 20px;
}
