.MuiFilledInput-root {
  background-color: transparent !important;
  border-radius: 8px !important;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.32);
}
.MuiFilledInput-root input {
  color: white !important;
}

.css-10botns-MuiInputBase-input-MuiFilledInput-input {
  padding-top: 22px;
  border-radius: 8px;
}
.MuiInputLabel-formControl {
  padding-left: 14px;
  font-family: 'Maven Pro';
  transform: translate(12px, 21px) scale(1) !important;
  z-index: 10;
  color: white !important;
}
.MuiInputLabel-shrink {
  transform: translate(7px, 9px) scale(0.65) !important;
  color: #0579ed !important;
  z-index: 10;
}
.MuiFilledInput-input {
  padding: 24px 12px 10px;
  border-radius: 8px;
}

.MuiFilledInput-underline:after {
  border-radius: 8px !important;
  border-bottom: 2px solid #3f51b5;
  height: 100%;
}
.MuiFilledInput-underline:before {
  border: none !important;
}
.signin-button {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 12px;
  margin-top: 20px;
}
.signin-button button {
  background-color: #3f51b5 !important;
  height: 42px !important;
  border-radius: 8px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.signin-button button:hover {
  background-color: #283593 !important;
  box-shadow: 0px 2px 4px -1px rgba(80, 80, 80, 0.2),
    0px 4px 5px 0px rgba(80, 80, 80, 0.14),
    0px 1px 10px 0px rgba(80, 80, 80, 0.12) !important;
  border: none;
}
.MuiButton-label,
.remember-checkbox span {
  color: white !important;
}
.signin-button button svg {
  fill: white;
}
