@import '~scss/variables';

.wrapper {
  width: fit-content;
  :global {
    .select-control {
      background-color: $darkblue-color01;
      border: none;
      border-color: $dark-color06 !important;
      box-shadow: none !important;
      transition: all $trans-speed ease-in-out;

      &:hover {
        background-color: $darkblue-color03;
      }
    }

    .select-value {
      color: $white;
      font-weight: 500 !important;
    }

    .select-value-wrapper {
      .select-input {
        input::placeholder {
          color: white;
          font-weight: 500;
        }
      }
    }

    .kubed-icon-dark {
      color: rgba(255, 255, 255, 0.9);
      fill: rgba(255, 255, 255, 0.4);
    }

    .select-options {
      background-color: $white;

      .select-option {
        color: $text-color;

        &:hover,
        &.select-option-active {
          background-color: $light-color02;
          .kubed-icon-coloured {
            color: $darkblue-color01;
            fill: $darkblue-color01;
          }
        }
      }
    }
  }
}
