@import '~scss/variables';
@import '~scss/mixins';

.wrapper {
  position: relative;
  display: flex;
}

.text {
  flex: 1;
  & > div:first-child {
    @include TypographyTitleH6(#909ba6);
  }

  & > div:last-child {
    @include TypographyParagraph(#909ba6);
  }

  &.light {
    & > div:first-child {
      @include TypographyTitleH6(white);
    }

    & > div:last-child {
      @include TypographyParagraph(white);
    }
  }
}

.ellipsis {
  flex: 1;
  overflow: hidden;

  .text {
    flex: 1;
    overflow: hidden;

    & > div {
      @include ellipsis;
    }
  }
}

.icon {
  margin-right: 12px;
}

.clickable {
  cursor: pointer;

  &:hover {
    .text {
      & > div {
        color: $primary;
      }
    }
    .icon {
      :global .kubed-icon {
        color: $blue-color03;
        fill: $blue-color01;
      }
    }
  }
}
