@import '~scss/variables';

.icons {
  :global {
    .icon {
      background-color: $light-color01;

      &:hover {
        svg {
          color: $primary;
        }
      }
    }
  }

  span {
    margin-right: 8px;
  }
}
