@import '~scss/variables';
@import '~scss/mixins';

.table {
  border-radius: $border-radius;
  box-shadow: $base-shadow;
  background-color: $white;
  overflow: hidden;

  :global {
    .table-body {
      padding: 0 12px 12px;
      background-color: #36393e;
    }
    .table-footer {
      padding: 8px 20px;
    }
  }

  table {
    a {
      color: #fff;
    }
  }
}

.button {
  min-width: 96px;
}
.buttonCustomDefault {
  margin-right: 10px;
  width: 80px;
  height: 32px;
}

.cancelSelect {
  color: #fff;
  &:hover {
    background-color: #ffffff33;
  }
  &:active {
    background-color: #ffffff33;
  }
}

.create {
  min-width: 96px;
  margin-left: 12px;
}

.disableSearch {
  pointer-events: none !important;
  input {
    pointer-events: none !important;
  }
  user-select: none;
  opacity: 0.6;
}

.search {
  width: 100%;
  margin-right: 12px;
}

.emptyText {
  & > div {
    @include TypographyTitleH5();
  }

  & > p {
    margin-top: 4px;
    @include TypographyParagraph($dark-color01);
  }

  @at-root {
    .emptyTipIcon {
      width: 60px;
      height: 60px;
      border-radius: 50% 0 50% 50%;
      background: $light-color02;
      display: inline-block;
      line-height: 50px;
      margin-bottom: 20px;
    }
  }
}

.action {
  color: $blue-color03;
  padding: 0 4px;
  cursor: pointer;
  font-weight: $font-bold;
}

.columnMenu {
  width: 160px;
  border: solid 1px #4c5053;
  border-radius: $border-radius;
  box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.2);
  background-color: black;

  span {
    color: white;
  }
}

.muitable {
  background-color: $dark-color14 !important;
  th,
  div {
    background-color: $dark-color14 !important;
    color: $white-color01 !important;
  }
  h6,
  a,
  svg,
  svg:active {
    color: $white-color01 !important;
  }
  tr {
    border-bottom: 1px solid #e0e0e0;
  }
  tr:nth-child(2n) {
    background: $dark-color15;
    div {
      background: $dark-color15 !important;
    }
  }
}
