@import '~scss/variables';
@import '~scss/mixins';

$background-color: #303236;
$indicator-current-color: #31990f;

.steps {
  height: 64px;
  background-color: $background-color;

  & > ul {
    padding: 0 20px;

    & > li {
      display: inline-block;
      vertical-align: middle;
      min-width: 180px;
      padding: 12px 15px 12px;

      &.current {
        background-color: $primary;

        .icon {
          &::after {
            content: '';
            border-color: white;
            background-color: $indicator-current-color;
          }
        }
      }

      &.finished {
        .icon {
          &::after {
            content: '';
            border-color: white;
            background-color: $primary;
          }
        }
      }
    }
  }

  .icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;

    &::after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 2px solid white;
      background-color: #78797b;
    }
  }

  .text {
    display: inline-block;
    vertical-align: middle;
    color: white;
  }
}
