@import '../../styles/variables';

.badge-wrapper {
  position: relative;
  width: max-content;

  > span.badge {
    display: inline-block;
    height: 20px;
    padding: 0 8px;
    border-radius: 5px;
    color: $white;
    font-size: $body-size;
    line-height: 20px;

    &:hover {
      cursor: pointer;
    }

    &.is-error {
      background-color: #ca2621;
    }
    &.is-success {
      background-color: #4caf50;
    }
    &.is-warning {
      background-color: #f5a623;
    }
    &.is-default {
      background-color: #81858b;
    }
  }
}
