@import '~scss/variables';

.operations {
  display: flex;

  :global {
    .select,
    .input {
      width: 188px;
      margin-right: 12px;
    }

    .select-value {
      font-size: 12px;
    }
  }
}

.timeSelect {
  margin-right: 12px;

  & > button {
    min-width: 188px;
    background: transparent;
    border: 1px solid #87909c80;
    color: #fff;

    &:hover {
      background: transparent !important;
    }
  }

  :global {
    .datepicker {
      .input {
        width: 100%;
        max-width: 455px;
        margin-right: 0;
      }
    }

    .form {
      & > div:last-child {
        bottom: 10px;
      }
    }
  }
}
