.input-password {
  width: 100% !important;
  max-width: 455px;
}

// recharts
.chart {
  &-light {
    color: $dark !important;
    background-color: $lightest !important;
  }

  &-dark {
    color: $white !important;
    background-color: $dark !important;

    .recharts-cartesian-axis {
      text {
        fill: $grey;
      }
    }

    .recharts-cartesian-grid {
      line {
        stroke: $grey;
      }
    }
  }
}

// charts
.charttip {
  &-title {
    padding-left: 5px;
    margin: 0 0 2px;
    color: $white;
    font-weight: 600;
    line-height: 17px;
  }

  &-content {
    min-width: 120px;
    max-width: 220px;
    font-weight: normal;
    line-height: 17px;

    span {
      position: relative;
      display: block;
      padding: 0 0 0 22px;

      &::before {
        content: '';
        position: absolute;
        top: calc(50% + 1px);
        left: 6px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        transform: translate(0, -50%);
      }

      &.white::before {
        background-color: $white;
      }
      &.default::before {
        background-color: $blue;
      }
      &.totals::before {
        background-color: $white;
        opacity: 0.4;
      }
      &.active::before {
        background-color: $green;
      }
      &.warn::before {
        background-color: $yellow;
      }
      &.danger::before {
        background-color: $red;
      }
      &.total::before {
        background-color: $light;
      }
    }
  }
}

.radio-group-button {
  label.radio-button {
    position: relative;
    font-weight: 500;
    min-width: 117px;
    color: #36435c;
    padding: 4px 24px;
    border-radius: 16px !important;
    border: none;
    background-color: transparent;
    box-shadow: none !important;

    &:hover,
    &:active {
      background-color: transparent;
    }

    &.checked {
      background-color: #36435c;
      color: #ffffff;
    }
  }

  .badge-wrapper {
    @include vertical-center;
    right: 4px;
  }

  &.radio-with-badge {
    label.radio-button {
      padding-right: 44px;
    }
  }
}

// calendar
.flatpickr-calendar {
  &.open {
    z-index: 2000 !important;
  }

  .flatpickr-day {
    font-family: $font-family !important;
  }
}

.upload {
  display: block;
}

.ks-tag {
  font-size: $size-small;
  padding: 0 9px;
  border-radius: 1px;
  background-color: #329dce;
  text-shadow: 0 2px 4px rgba(36, 46, 66, 0.1);
  font-weight: 500;
  line-height: 1.33;
  color: #fff;
  cursor: default;

  &-disable {
    background-color: $light-color07;
  }

  & + .ks-tag {
    margin-left: 8px;
  }
}

.badge {
  min-width: 28px;
}

.badge-wrapper > span.badge.is-success {
  background-color: $primary;
}

.control.has-icons-left .icon,
.control.has-icons-right .icon {
  position: absolute;
  top: 50%;
  width: 16px;
  height: 16px;
  transform: translateY(-50%);
}

.control.has-icons-left {
  .input {
    padding-left: 40px;
  }

  .icon.is-left {
    left: 12px;
  }
}

.control.has-icons-right {
  .input {
    padding-right: 40px;
  }

  .icon.is-right {
    right: 12px;
  }
}

.form-group {
  background-color: #fff;
}

.datepicker {
  width: 100%;
}

.select {
  max-width: 100%;
}

.tooltip-desc {
  color: $dark-color01 !important;
}

.tag-critical {
  color: $white;
  background-color: $red-color03;
}

.tag-error {
  color: $white;
  background-color: $yellow-color03;
}

body .button,
.select-input > input,
.table table > thead > tr > th {
  font-family: 'Maven Pro', 'Lantinghei SC', 'Helvetica Neue', Helvetica, Arial,
    'Microsoft YaHei', 微软雅黑, STHeitiSC-Light, simsun, 宋体,
    'WenQuanYi Zen Hei', 'WenQuanYi Micro Hei', sans-serif;
}
body {
  .MuiTab-wrapper {
    font-weight: 700;
    text-transform: capitalize;
  }
  .MuiTab-textColorPrimary.Mui-selected {
    color: #5c6bc0 !important;
  }
  .MuiTable-root {
    .MuiTableBody-root tr:nth-of-type(2n) {
      background-color: #fafafa;
    }
  }
  .src-components-Layout-Nav-index__subNav
    > ul
    > li.src-components-Layout-Nav-index__open.src-components-Layout-Nav-index__childSelect {
    border-left: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .table table a,
  .table table > thead > tr > th,
  .table table > thead > tr > th a,
  .src-components-Modals-Delete-index__body .h5 {
    color: $black;
  }
  .table table > tbody > tr > td {
    font-family: 'Maven Pro', 'Lantinghei SC', 'Helvetica Neue', Helvetica,
      Arial, 'Microsoft YaHei', 微软雅黑, STHeitiSC-Light, simsun, 宋体,
      'WenQuanYi Zen Hei', 'WenQuanYi Micro Hei', sans-serif;
  }
  button.button:not([class*='has-icon']) {
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: Maven Pro, sans-serif;
    font-weight: 600;
    // line-height: 1.75;
    border-radius: 8px;
    text-transform: uppercase;
    border: none;
    &:not([class*='button-default']) {
      color: #fff;
      background-color: #3f51b5;
      &:hover {
        background-color: #3f51b5;
      }
    }
    .button-content {
      height: auto;
    }
  }
  .form-item-desc,
  .form-item-label,
  .MuiTable-root [class*='MUIDataTableBodyCell'],
  .MuiTable-root [class*='MUIDataTableHeadCell'],
  [class*='MuiTablePagination'],
  [class*='MuiTypography'],
  [class*='MUIDataTable'],
  [class*='MuiButtonBase'],
  .MuiFormLabel-root,
  .MuiInput-input,
  .alert-content,
  input.input,
  .select-value-wrapper .select-value,
  .select-value-wrapper .select-placeholder,
  .select-options .select-option,
  .form-item-error {
    font-family: 'Maven Pro';
  }
  .MuiTable-root [class*='MUIDataTableBodyCell'] {
    word-wrap: break-word;
  }
  .src-components-Layout-Nav-index__subNav {
    font-size: 14px;
  }
  .MuiPaper-root {
    border-radius: 8px;
    padding: 16px 24px 16px 24px;
    box-shadow: none;
    .MuiTableHead-root .MuiTableCell-head,
    div[class*='MUIDataTableHeadCell'] {
      font-weight: 600;
      text-transform: none;
    }
    .MuiTableHead-root .MuiButton-Primary {
      margin-left: -16px;
    }
  }
  .MuiTableCell-footer {
    border-bottom: none;
  }
  .MuiTabs-root {
    margin-bottom: 12px;
    .MuiTab-textColorPrimary {
      color: $black;
    }
  }
  input.input {
    border-radius: 8px;
    font-size: 14px;
    padding: 10px;
    font-weight: 400;
  }
  .select-value-wrapper .select-value,
  .select-options .select-option-label {
    font-size: 14px;
    font-weight: 400;
  }
  form [class*='form-item'] {
    font-size: 14px;
  }
  .select-options {
    background-color: $white;
    .select-option {
      color: $black;
      &:hover {
        background-color: $blue-color03;
      }
    }
    .select-option-active {
      background-color: $blue-color03;
    }
  }
  .src-components-KubeTools-index__toolsContent {
    background-color: #fafafa;
  }
  .src-components-Base-List-index__item {
    border: none;
    box-shadow: 0px 1px 3px 0px rgba(142, 142, 142, 0.2),
      0px 1px 1px 0px rgba(243, 243, 243, 0.14),
      0px 2px 1px -1px rgba(204, 204, 204, 0.12);
  }
  .select-control,
  .src-pages-clusters-containers-BaseInfo-ManageButton-index__manage
    .src-pages-clusters-containers-BaseInfo-ManageButton-index__button,
  .src-pages-clusters-containers-BaseInfo-ManageButton-index__manage,
  .src-components-Modals-UserSetting-index__tabs li {
    border-radius: 8px;
  }
  .src-components-Modals-UserSetting-index__tabs
    li.src-components-Modals-UserSetting-index__active {
    background-color: #fff;
    border: none;
    box-shadow: none;
    .kubed-icon {
      color: rgba(0, 0, 0, 0.9);
      fill: rgba(0, 0, 0, 0.4);
    }
    p {
      color: $black;
    }
  }
  .src-pages-apps-containers-Home-index__cates
    .src-pages-apps-containers-Home-index__group
    .src-pages-apps-containers-Home-index__menu
    > .src-pages-apps-containers-Home-index__item {
    font-size: 14px;
  }
  .src-components-Layout-Nav-index__subNav > ul > li > a:hover,
  .src-components-Layout-Nav-index__subNav
    > ul
    > li
    .src-components-Layout-Nav-index__title:hover {
    color: $white;
  }
  .button[class*='Cards-Monitoring'] {
    background-color: #3f51b5;
    display: inline-flex;
    align-items: center;
  }
  .tabs-container .tabs > ul > li:hover,
  .tabs-container .tabs > ul > li:active,
  .tabs-container .tabs > ul > li.is-active {
    color: #3f51b5;
  }
  .src-components-Inputs-PropertiesInput-index__item {
    border-radius: 8px;
  }
  .src-pages-workspaces-containers-Overview-ResourceUsage-index__clusterSelector
    .select-control {
    background-color: #3f51b5 !important;
  }
  .button-control,
  .src-components-KubeTools-index__toolsTitle {
    background-color: #3f51b5;
  }
  .kubed-icon-dark {
    color: rgba(0, 0, 0, 0.54);
  }
  div[class*='Title-'],
  div[class*='__title'] .h3 {
    color: #3f51b5 !important;
  }
  div[class*='-Cards-'],
  div[class*='-Cards-']:hover {
    border: none;
    background-color: $white;
    border-radius: 8px !important;
  }
  .button {
    box-shadow: unset;
  }
  .menu-item {
    font-weight: 400;
    font-size: 16px;
  }
  .src-components-Modals-UserSetting-index__tabs li {
    font-size: 16px;
    font-weight: 400;
    color: #4a5974;
  }
}
