@import '~scss/variables';

.header {
  display: flex;
  justify-content: space-between;

  button {
    height: 32px;
    background: $primary;
    border: none;
  }
}

.tableWrapper {
  margin: -12px;
  margin-top: 12px;
}
