@import '../../styles/variables';
@import '../../styles/mixins';

.tag {
  display: inline-block;
  padding: 4px 6px 4px 6px;
  font-size: $size-small;
  line-height: 20px;
  font-weight: 400;
  border-radius: 3px;

  &-default {
    color: #8b8b8c;
    background-color: #303236;
  }

  &-secondary {
    color: $dark-color06;
    background-color: $light-color03;
  }

  &-warning {
    color: $yellow-color05;
    background-color: $yellow-color01;
  }

  &-primary {
    color: $white;
    background-color: $primary;
  }

  &-info {
    color: $blue-color05;
    background-color: $blue-color01;
  }
}
